body {
    overflow: hidden;
    overflow-y: scroll;
}

select {
    width: 100%;
    height: 2em;
    text-align-last: center;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
}

#run {
    background-color: #1e90ff;
    display: none;
    color: #FFF;
    width: 30%;
    top: -20px;
}

#run[active] {
    color: #FFF;
    background-color: #f40000;
    cursor: pointer;
}

#run[error] {
    color: #1e90ff;
    background-color: #FFF;
}

label[for="FormControlAlgorithm"] {
    font-size: 10px;
    margin: 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e40d2e;
    color: white;
    text-align: center;
}

.footer p {
    padding-top: 15px;
    color: #f1f1f1;
}

.github{
    opacity: 0.1;
}

.github:hover{
    opacity: 1;
}

.github img {
    position: fixed;
    right: 0px;
}